nav{
    display:flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

ul{
    list-style-type: none;
    display: flex;
    width: 200px;
    justify-content: space-between;
}

ul li a{
    text-decoration: none;;
}